@import url('../main.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  font-family: var(--fonte-logo);
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro-logo {
  position: absolute;
  width: 35%;
  top: -50px;
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 2;
}

.titulo-logo {
  font-size: 35px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.subtitulo__texto {
  font-size: 35px;
  color: var(--color1);
}


.center_box {
  background-color: #fff;
  padding: 20px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: relative;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.senha-container {
  position: relative; /* Necessário para o posicionamento absoluto do botão */
  display: flex;
  align-items: center;
}

.entrada input {
  width: 100%;
  padding: 8px;
  border: 1px solid #acacac;
  border-radius: 4px;
}
.senha-container button img {
  width: 15px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 15px;
}

.senha-container button {
  position: absolute; /* Posiciona o botão de forma absoluta dentro do contêiner */
  right: 5px; /* Ajusta a posição do botão em relação à borda direita do contêiner */
  top: 55%; /* Centraliza verticalmente o botão em relação ao campo de entrada */
  transform: translateY(-50%); /* Corrige a centralização vertical */
  border: none;
  background: none;
  font-size: 20px; /* Ajusta o tamanho da fonte do botão */
  cursor: pointer;
  z-index: 1; /* Garante que o botão fique acima do campo de entrada */
}

.entrada {
  margin-bottom: 20px;
  text-align: left;
  display: flex; 
  flex-direction: column;
  position: relative; /* Necessário para posicionar a mensagem de erro corretamente */
}

.mensagem-erro {
  color: red;
  font-size: 12px;
  display: none; /* Oculta a mensagem de erro por padrão */
  position: absolute; /* Remove a mensagem de erro do fluxo do documento */
  bottom: -15px; /* Posiciona a mensagem logo abaixo do campo de entrada */
  left: 0;
  width: 100%; /* Garante que a mensagem de erro tenha a largura do campo de entrada */
  text-align: left; /* Alinha o texto à esquerda */
}

input.erro {
  background-color: rgba(255, 0, 0, 0.055);
  border-color: #ff0000;
}

.btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
}

.btn1 {
  font-size: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn1:hover {
  color: aqua;
}

.btn2 {
  font-size: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn2:hover {
  color: aqua;
}

.progress-dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pag2 {
  display: none;
}

.dot1, .dot2, .dot3 {
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.dot1.active, .dot2.active, .dot3.active {
  background-color: #444444;
}

.dot3.active {
  background-color: #3d3d3d;
}

.texto_cadastro {
  font-size: 13px;
}

input[type="range"] {
  appearance: none; /* Fallback geral */
  -webkit-appearance: none; /* Para WebKit (Chrome, Safari) */
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none; /* Fallback */
  -webkit-appearance: none; /* Para WebKit */
  width: 20px;
  height: 20px;
  background: var(--color4);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

#data {
  margin-bottom: 20px; /* Afasta o campo Data de nascimento do campo Peso */
}

.entrada input[type="range"] {
  margin-top: 10px; /* Adiciona espaçamento entre o texto e o slider */
}

#peso{
 margin-bottom: 20px;
}

#altura{
  margin-bottom: 20px;
}

.sexo-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os botões */
}

.sexo-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

.sexo-btn.selected {
  color:var(--color6); /* Opcional: Muda a cor do texto para indicar seleção */
}

