* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00ffd5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro-logo {
  position: absolute;
  width: 35%;
  top: -50px;
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 2;
}

.titulo-logo {
  font-size: 30px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 20px;
}

.subtitulo__texto {
  font-size: 30px;
  color: #00ffc8;
}


.center_box {
  background-color: #fff;
  padding: 20px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: relative;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.senha-container {
  position: relative; /* Necessário para o posicionamento absoluto do botão */
  display: flex;
  align-items: center;
}

.entrada input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.senha-container button {
  position: absolute; /* Posiciona o botão de forma absoluta dentro do contêiner */
  right: 5px; /* Ajusta a posição do botão em relação à borda direita do contêiner */
  top: 50%; /* Centraliza verticalmente o botão em relação ao campo de entrada */
  transform: translateY(-50%); /* Corrige a centralização vertical */
  border: none;
  background: none;
  font-size: 20px; /* Ajusta o tamanho da fonte do botão */
  cursor: pointer;
  z-index: 1; /* Garante que o botão fique acima do campo de entrada */
}

.senha-container button:hover {
  background: none;
  color: #ff0000;
}

.entrada {
  margin-bottom: 30px;
  text-align: left;
  display: flex; 
  flex-direction: column;
  position: relative; /* Necessário para posicionar a mensagem de erro corretamente */
}

.mensagem-erro {
  color: red;
  font-size: 12px;
  display: none; /* Oculta a mensagem de erro por padrão */
  position: absolute; /* Remove a mensagem de erro do fluxo do documento */
  bottom: -15px; /* Posiciona a mensagem logo abaixo do campo de entrada */
  left: 0;
  width: 100%; /* Garante que a mensagem de erro tenha a largura do campo de entrada */
  text-align: left; /* Alinha o texto à esquerda */
}

input.erro {
  background-color: rgba(255, 0, 0, 0.055);
  border-color: #ff0000;
}

.btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
}

.btn1 {
  font-size: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn1:hover {
  color: aqua;
}

.btn2 {
  font-size: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn2:hover {
  color: aqua;
}

.progress-dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pag2 {
  display: none;
}

.dot1, .dot2, .dot3 {
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.dot1.active, .dot2.active, .dot3.active {
  background-color: #444444;
}

.dot3.active {
  background-color: #3d3d3d;
}

.texto_cadastro {
  font-size: 12px;
}
