@import url('../main.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap'); /* Importação da fonte Oswald */


body {
    background-color: var(--color3);
}

.style_bg_nav {
    background-color: var(--color1);
}

.style_logo {
    font-size: 2.5em;
    color: var(--color3);
    font-family: var(--fonte-logo);
}

.style_logo strong {
    display: inline-block; /* Necessário para aplicar transformações */  
    transition: transform 0.2s ease, padding 0.5s ease; /* Suavização da rotação */
}

.style_logo:hover strong {
    transform: rotate(360deg) scale(1.3); /* Gira 360 graus */
}

.itens__sidebar a {
    color: var(--color3);
}

.item__sidebar {
    margin: 0.2em;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, align-items 1s ease; /* Adicione opacity à transição */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.icon_sideBar {
    width: 1.5rem;
}


.item__sidebar.show {
    margin: 0.2em;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, align-items 1s ease; /* Adicione opacity à transição */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item__sidebar:hover {
    background-color: var(--color2);
    margin: 0.2em;
    border-radius: 5px;
    font-size: 20px;
}

.container__pricinpal {
    text-align: center;
    padding-top: 6em;
}

.container__pricinpal__titulo {
    color: var(--color3);
}

.container__pricinpal.opacity {
    filter: blur(0.8px); /* Ajuste o valor para definir o nível de desfoque */   
}


.sidebar {
    z-index: 1;
    height: 100%;
    position: fixed;
    top: 2em;
    width: 250px;
    padding-top: 56px;
    /* Espaço para a navbar fixa */
    transition: transform 0.3s ease;
    transform: translateX(-80%);
    background-color: var(--color1);
}

.sidebar.show {
    transform: translateX(0);
}

/* Quando a sidebar não tiver a classe .show (fechada), mostrar apenas ícones */
.sidebar .nav-link .item-text {
    display: none; /* Esconde o texto */
}

.sidebar .nav-link img {
    font-size: 1.5rem; /* Tamanho maior para ícones quando a sidebar está fechada */
}

/* Quando a sidebar tiver a classe .show (aberta), mostrar o texto e ajustar os ícones */
.sidebar.show .nav-link .item-text {
    display: inline; /* Mostra o texto */
    margin-left: 10px; /* Espaçamento entre o ícone e o texto */
}

.sidebar.show .nav-link img {
    font-size: 1rem; /* Reduz o tamanho dos ícones */
}

.content {
    margin-left: 250px;
}

.container {
    align-items: center;
    font-family: var(--fonte-logo);
}

.custom_container {
    margin: 1rem;
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: visible;
    position: relative;
    transition: transform 0.3s ease;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.397) 90%); /* Gradiente neutro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra leve */
    animation: glowing 1.5s infinite alternate; /* Efeito de brilho */
}

.custom_container:hover {
    box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.7); /* Brilho mais intenso no hover */
    transform: scale(1.05); /* Aumenta levemente o tamanho do container */
}





.descricao_container img {
    transition: transform 0.3s ease;
}

.descricao_container img:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
}

.descricao_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-left: 2rem;
    width: 100%; /* O gráfico ocupará toda a largura do contêiner pai */
}

#graficoHidratacao {
    width: 100%; /* O gráfico se ajustará à largura do contêiner */
    height: 100%; /* O gráfico ocupará toda a altura disponível no contêiner */
}

#graficoCalorias {
    width: 100%; /* O gráfico se ajustará à largura do contêiner */
    height: 100%; /* O gráfico ocupará toda a altura disponível no contêiner */
}

.circle_hidratacao {
    width: 80px;
    height: 80px;
    border: 5px solid #3498db; /* Apenas a borda */
    border-radius: 50%; /* Deixa como círculo */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    font-size: 18px;
    color: #3498db;
    transition: transform 0.3s ease;
}

.circle_hidratacao:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
  }

.circle_calorias {
    width: 80px;
    height: 80px;
    border: 5px solid #FF6B00; /* Apenas a borda */
    border-radius: 50%; /* Deixa como círculo */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    font-size: 18px;
    color: #FF6B00;
    transition: transform 0.3s ease;
}

.descricao_meta_container {
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
    font-size: 1.2rem; /* Tamanho maior */
    color: #525252; /* Texto escuro para melhor legibilidade */
    background: #f4f4f4; /* Fundo neutro, cinza claro */
    border-radius: 12px; /* Bordas suaves */
    padding: 15px 20px; /* Espaçamento interno maior */
    text-align: center; /* Centralização do texto */
    font-weight: 600; /* Peso de fonte mais suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidade */
    width: fit-content; /* Adapta ao conteúdo */
    margin: 0 auto; /* Centralização na página */
    transition: all 0.3s ease; /* Transição suave para hover */
}

/* Efeito ao passar o mouse */
.descricao_meta_container:hover {
    background: #e0e0e0; /* Fundo levemente mais escuro */
    transform: scale(1.05); /* Pequeno zoom */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}



.circle_calorias:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
}

  .icon_container_hidratacao {
    transition: opacity 0.3s ease; /* Transição suave ao desaparecer */
  }

  .icon_container_calorias {
    transition: opacity 0.3s ease; /* Transição suave ao desaparecer */
  }
  
  .hover_text_hidratacao {
    position: absolute;
    font-size: 24px;
    color: #3498db;
    opacity: 0; /* Inicialmente escondido */
    transition: opacity 0.3s ease;
  }

  .hover_text_calorias {
    position: absolute;
    font-size: 24px;
    color: #FF6B00;
    opacity: 0; /* Inicialmente escondido */
    transition: opacity 0.3s ease;
  }
  
  /* Quando o mouse passa sobre o círculo */
  .circle_hidratacao:hover .icon_container_hidratacao {
    opacity: 0; /* Esconde a imagem */
  }

  /* Quando o mouse passa sobre o círculo */
  .circle_hidratacao:hover .icon_container_calorias {
    opacity: 0; /* Esconde a imagem */
  }
  
  .circle_hidratacao:hover .hover_text_hidratacao {
    opacity: 1; /* Mostra o texto */
  }

   /* Quando o mouse passa sobre o círculo */
   .circle_calorias:hover .icon_container_hidratacao {
    opacity: 0; /* Esconde a imagem */
  }

  /* Quando o mouse passa sobre o círculo */
  .circle_calorias:hover .icon_container_calorias {
    opacity: 0; /* Esconde a imagem */
  }
  
  .circle_calorias:hover .hover_text_calorias {
    opacity: 1; /* Mostra o texto */
  }
  
.custom_container:hover {
    transform: scale(1.01) !important; /* Aumenta 5% ao passar o mouse */
}

.container_hidratacao {
    background-color: #00b3ff37; /* Cor de fundo padrão */
    position: relative;
    border-radius: 10px; /* Ajuste conforme necessário */
    overflow: hidden; /* Garante que o gradiente não extrapole o container */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza o hover */
}

.container_hidratacao::before {
    content: '';
    position: absolute;
    inset: -4px; /* Largura da borda gradiente */
    border-radius: 10px;
    background: linear-gradient(135deg, #ab92ff, #bdb5fc, #3DC2EC);
    background-size: 300%; /* Para o gradiente animado */
    opacity: 0; /* Invisível por padrão */
    transform: scale(1.1); /* Efeito inicial para suavizar a entrada */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Delay e suavização */
    z-index: -1; /* Fica atrás do conteúdo */
    pointer-events: none; /* Ignora interações do mouse */
}

.container_hidratacao:hover::before {
    opacity: 1; /* Torna o gradiente visível no hover */
    transform: scale(1); /* Ajusta o tamanho ao hover */
    animation: gradient-move 3s infinite linear; /* Animação de movimento do gradiente */
}

.container_hidratacao:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do container no hover */
    box-shadow: 0 0 20px 4px rgba(0, 179, 255, 0.5); /* Realça o efeito de hover */
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.titulo_container_hidratacao {
    color: #406dff;
}


.container_caloria {
    background-color: #ffb700; /* Cor de fundo padrão */
    position: relative;
    border-radius: 10px; /* Ajuste conforme necessário */
    overflow: hidden; /* Garante que o gradiente não extrapole o container */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza o hover */
}

.container_caloria::before {
    content: '';
    position: absolute;
    inset: -4px; /* Largura da borda gradiente */
    border-radius: 10px;
    background: linear-gradient(135deg, #c38c01, #903000);
    background-size: 300%; /* Para o gradiente animado */
    opacity: 0; /* Invisível por padrão */
    transform: scale(1.1); /* Efeito inicial para suavizar a entrada */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Delay e suavização */
    z-index: -1; /* Fica atrás do conteúdo */
    pointer-events: none; /* Ignora interações do mouse */
}

.container_caloria:hover::before {
    opacity: 1; /* Torna o gradiente visível no hover */
    transform: scale(1); /* Ajusta o tamanho ao hover */
    animation: gradient-move-caloria 3s infinite linear; /* Animação de movimento do gradiente */
}

.container_caloria:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do container no hover */
    box-shadow: 0 0 20px 4px rgba(255, 183, 0, 0.5); /* Realça o efeito de hover */
}

@keyframes gradient-move-caloria {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Peso Atual */
.container_peso {
    background-color: #014074a9; /* Azul claro */
    color: #ffffff; /* Texto branco */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* IMC Atual */
.container_imc {
    background-color: #9c17b47c; /* Roxo claro */
    color: #ffffff; /* Texto branco */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito hover para ambos */
.container_peso:hover,
.container_imc:hover {
    transform: scale(1.05); /* Leve aumento no hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}


.titulo_container_caloria {
    color: #FFB700;
}

.container_dieta {
    cursor: pointer;
    height: 18rem;
    background-color: #00c399;
    position: relative;
    border-radius: 10px; /* Ajuste conforme necessário */
    overflow: hidden; /* Garante que o gradiente não extrapole o container */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza o hover */
}

.container_dieta::before {
    content: '';
    position: absolute;
    inset: -4px; /* Largura da borda gradiente */
    border-radius: 10px;
    background: linear-gradient(135deg, #00ae88, #008883, #00797d);
    background-size: 300%; /* Para o gradiente animado */
    opacity: 0; /* Invisível por padrão */
    transform: scale(1.1); /* Efeito inicial para suavizar a entrada */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Delay e suavização */
    z-index: -1; /* Fica atrás do conteúdo */
    pointer-events: none; /* Ignora interações do mouse */
}

.container_dieta:hover::before {
    opacity: 1; /* Torna o gradiente visível no hover */
    transform: scale(1); /* Ajusta o tamanho ao hover */
    animation: gradient-move 3s infinite linear; /* Animação de movimento do gradiente */
}

.container_dieta:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do container no hover */
    box-shadow: 0 0 20px 4px #00c399; /* Realça o efeito de hover */
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.titulo_container_dieta {
    color: whitesmoke;
}

.conteudo_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.objetivos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidratacaoLink {
    cursor: pointer;
}

.calorialink {
    cursor: pointer;
}

.objetivos_container h2{
    width: 12.5rem;
}


.titulo_container {
    font-weight: 700;
    font-size: 2rem;
}

.icone_caloria {
    width: 80px;
}

.menu-container {
    display: flex; /* Usamos flexbox para alinhar os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Adiciona um pouco de espaço ao redor do contêiner */
}

.menu-item {
    background-color: white; /* Fundo branco */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 20px; /* Espaço interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
    transition: transform 0.3s; /* Transição suave ao passar o mouse */
}

.img_dieta {
    width: 80%;
}


.container_exercicios {
    background: #e5ff00; /* Fundo verde fluorescente */
    color: #000000; /* Texto preto para bom contraste */
    padding: 20px;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra suave e profunda */
    text-align: center; /* Centraliza o conteúdo */
    font-family: 'Oswald', sans-serif; /* Aplicação da nova fonte */
}

.container_exercicios .titulo_container {
    font-size: 2.5rem; /* Fonte maior para destaque */
    font-weight: 700; /* Negrito */
    margin-bottom: 15px;
    text-transform: uppercase; /* Maiúsculas para modernidade */
    letter-spacing: 2px; /* Espaçamento entre letras */
    color: #000000; /* Preto forte para contraste */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Sombra leve no texto */
}

.container_exercicios p {
    font-size: 1.2rem; /* Texto maior para leitura confortável */
    font-weight: 500; /* Peso médio para complementar */
    line-height: 1.6; /* Melhor legibilidade */
    color: #333333; /* Texto secundário */
}

/* From Uiverse.io by gharsh11032000 */ 
.cardx {
    position: relative;
    height: 20rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 1rem;
  }
  
  .cardx:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  .cardx {
  
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2ff00;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardx:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #f6ff00;
    font-weight: 700;
  }

  .card__title__main {
    color: #f6ff00;
    font-size: 5rem;
  }
  
  .cardx:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

  



/* Ajustes gerais para telas pequenas */
@media (max-width: 768px) {

    .card__title__main {
        color: #f6ff00;
        font-size: 2rem;
      }

    .descricao_meta_container {
        font-family: 'Roboto', sans-serif; /* Fonte moderna */
        font-size: 0.9rem; /* Tamanho legível */
        color: #333333; /* Texto escuro para maior contraste com fundo */
        background: #f4f4f4; /* Fundo neutro, cinza claro */
        border-radius: 12px; /* Bordas suaves */
        padding: 0.5em 0.5em; /* Espaçamento interno */
        text-align: center; /* Centralização do texto */
        font-weight: normal; /* Peso de fonte mais suave */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidade */
        width: fit-content; /* Adapta ao conteúdo */
        margin: 0 auto; /* Centralização na página */
        transition: all 0.3s ease; /* Transição suave para hover */
    }
    
    /* Efeito ao passar o mouse */
    .descricao_meta_container:hover {
        background: #e0e0e0; /* Fundo levemente mais escuro */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
    }

    .sidebar {
        width: 100px;
    }

    .content {
        margin-left: 100px;
    }

    .circle_hidratacao, 
    .circle_calorias {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }

    .style_logo {
        font-size: 1.5em;
    }

    .titulo_container {
        font-size: 2rem;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .menu_dieta {
        display: none;
    }

    .style_logo {
        font-size: 1.8em; /* Reduz o tamanho da logo */
        text-align: center;
    }

    .item-text {
        font-size: 0.8em;
    }

    .item__sidebar {
        flex-direction: row; /* Elementos lado a lado */
        align-items: center; 
        font-size: 16px; /* Texto menor */
    }

    .icon_sideBar {
        width: 1.2rem; /* Ícones menores */
    }

    .sidebar {
        width: 100px; /* Sidebar menor */
        transform: translateX(-100%); /* Mais escondida por padrão */
    }

    .sidebar.show {
        width: 40%; /* Sidebar ocupa maior parte da tela ao abrir */
    }

    .container__pricinpal {
        padding-top: 4em; /* Menor espaço superior */
    }

    .custom_container {
        height: 8em; /* Menor altura nos containers */
        flex-direction: row; /* Alinha em coluna */
        margin: 0.5rem; /* Margem menor */
    }

    .descricao_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; /* Ajuste para coluna */
        gap: 1em; /* Menor espaçamento entre os elementos */
    }

    .circle_hidratacao,
    .circle_calorias {
        width: 50px;
        height: 50px;
        font-size: 7px; /* Ajuste do tamanho do texto */
    }

    .garrafa_hidratacao, .icone_caloria {
        width: 15%;
    }

    .hover_text_hidratacao,
    .hover_text_calorias {
        font-size: 18px; /* Tamanho menor do texto */
    }

    .container {
        padding: 1em;
    }

    .conteudo_container {
        flex-direction: column; /* Alinhar verticalmente */
        gap: 1em; /* Espaçamento entre os itens */
        text-align: center;
    }

    .titulo_container {
        font-size: 1.2rem; /* Texto reduzido */
    }

    .menu-container {
        flex-direction: column; /* Itens empilhados */
        gap: 10px; /* Menor espaço entre os itens */
    }

    .menu-item {
        padding: 10px; /* Menor espaço interno */
    }

    .img_dieta {
        width: 100%; /* Imagem ajustada para preencher o container */
    }

    .sidebar .nav-link img {
        width: 1.2rem; /* Ícones menores na sidebar */
    }

    .content {
        margin-left: 0; /* Sem margem lateral */
        padding: 1em; /* Adiciona espaço interno */
    }

    .container_caloria, .container_hidratacao, .container_dieta {
        width: 2rem; /* Containers ocupam toda a largura */
        margin: 0.5em 0;
    }

    .icone_caloria {
        width: 60px; /* Ícone menor */
    }

    .circle_hidratacao:hover,
    .circle_calorias:hover {
        transform: scale(1.1); /* Redução no efeito hover */
    }

    .graficoCalorias, .graficoHidratacao {
        display: none;
    }


}



