@import url('../main.css');

body {
    background-color: var(--color3);
}

.style_bg_nav {
    background-color: var(--color1);
}

.style_logo {
    font-size: 2.5em;
    color: var(--color3);
    font-family: var(--fonte-logo);
}

.style_logo strong {
    display: inline-block; /* Necessário para aplicar transformações */  
    transition: transform 0.2s ease, padding 0.5s ease; /* Suavização da rotação */
}

.style_logo:hover strong {
    transform: rotate(360deg) scale(1.3); /* Gira 360 graus */
}

.itens__sidebar a {
    color: var(--color3);
}

.item__sidebar {
    margin: 0.2em;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, align-items 1s ease; /* Adicione opacity à transição */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon_sideBar {
    width: 1.5rem;
}


.item__sidebar.show {
    margin: 0.2em;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, align-items 1s ease; /* Adicione opacity à transição */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item__sidebar:hover {
    background-color: var(--color2);
    margin: 0.2em;
    border-radius: 5px;
    font-size: 20px;
}

.container__pricinpal {
    text-align: center;
    padding-top: 6em;
}

.container__pricinpal__titulo {
    color: var(--color3);
}

.container__pricinpal.opacity {
    filter: blur(0.8px); /* Ajuste o valor para definir o nível de desfoque */   
}


.sidebar {
    z-index: 1;
    height: 100%;
    position: fixed;
    top: 2em;
    width: 250px;
    padding-top: 56px;
    /* Espaço para a navbar fixa */
    transition: transform 0.3s ease;
    transform: translateX(-80%);
    background-color: var(--color1);
}

.sidebar.show {
    transform: translateX(0);
}

/* Quando a sidebar não tiver a classe .show (fechada), mostrar apenas ícones */
.sidebar .nav-link .item-text {
    display: none; /* Esconde o texto */
}

.sidebar .nav-link img {
    font-size: 1.5rem; /* Tamanho maior para ícones quando a sidebar está fechada */
}

/* Quando a sidebar tiver a classe .show (aberta), mostrar o texto e ajustar os ícones */
.sidebar.show .nav-link .item-text {
    display: inline; /* Mostra o texto */
    margin-left: 10px; /* Espaçamento entre o ícone e o texto */
}

.sidebar.show .nav-link img {
    font-size: 1rem; /* Reduz o tamanho dos ícones */
}

.content {
    margin-left: 250px;
}

.container {
    align-items: center;
    font-family: var(--fonte-logo);
}

.custom_container {
    margin: 1rem;
    height: 14em; /* Ajuste a altura aqui */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px; /* Bordas arredondadas */
    overflow: visible; /* Permitir que o ícone cresça além das bordas */
    position: relative; /* Para controlar o layout */
    transition: transform 0.3s ease; /* Transição suave */
}

.descricao_container img {
    transition: transform 0.3s ease;
}

.descricao_container img:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
}

.descricao_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-left: 2rem;
    width: 100%; /* O gráfico ocupará toda a largura do contêiner pai */
}

#graficoHidratacao {
    width: 100%; /* O gráfico se ajustará à largura do contêiner */
    height: 100%; /* O gráfico ocupará toda a altura disponível no contêiner */
}

#graficoCalorias {
    width: 100%; /* O gráfico se ajustará à largura do contêiner */
    height: 100%; /* O gráfico ocupará toda a altura disponível no contêiner */
}

.circle_hidratacao {
    width: 80px;
    height: 80px;
    border: 5px solid #3498db; /* Apenas a borda */
    border-radius: 50%; /* Deixa como círculo */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    font-size: 18px;
    color: #3498db;
    transition: transform 0.3s ease;
}

.circle_hidratacao:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
  }

.circle_calorias {
    width: 80px;
    height: 80px;
    border: 5px solid #FF6B00; /* Apenas a borda */
    border-radius: 50%; /* Deixa como círculo */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    font-size: 18px;
    color: #FF6B00;
    transition: transform 0.3s ease;
}

.descricao_meta_container {
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
    font-size: 1.2rem; /* Tamanho maior */
    color: #525252; /* Texto escuro para melhor legibilidade */
    background: #f4f4f4; /* Fundo neutro, cinza claro */
    border-radius: 12px; /* Bordas suaves */
    padding: 15px 20px; /* Espaçamento interno maior */
    text-align: center; /* Centralização do texto */
    font-weight: 600; /* Peso de fonte mais suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidade */
    width: fit-content; /* Adapta ao conteúdo */
    margin: 0 auto; /* Centralização na página */
    transition: all 0.3s ease; /* Transição suave para hover */
}

/* Efeito ao passar o mouse */
.descricao_meta_container:hover {
    background: #e0e0e0; /* Fundo levemente mais escuro */
    transform: scale(1.05); /* Pequeno zoom */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}



.circle_calorias:hover {
    transform: scale(1.1); /* Ajuste o valor conforme necessário */
}

  .icon_container_hidratacao {
    transition: opacity 0.3s ease; /* Transição suave ao desaparecer */
  }

  .icon_container_calorias {
    transition: opacity 0.3s ease; /* Transição suave ao desaparecer */
  }
  
  .hover_text_hidratacao {
    position: absolute;
    font-size: 24px;
    color: #3498db;
    opacity: 0; /* Inicialmente escondido */
    transition: opacity 0.3s ease;
  }

  .hover_text_calorias {
    position: absolute;
    font-size: 24px;
    color: #FF6B00;
    opacity: 0; /* Inicialmente escondido */
    transition: opacity 0.3s ease;
  }
  
  /* Quando o mouse passa sobre o círculo */
  .circle_hidratacao:hover .icon_container_hidratacao {
    opacity: 0; /* Esconde a imagem */
  }

  /* Quando o mouse passa sobre o círculo */
  .circle_hidratacao:hover .icon_container_calorias {
    opacity: 0; /* Esconde a imagem */
  }
  
  .circle_hidratacao:hover .hover_text_hidratacao {
    opacity: 1; /* Mostra o texto */
  }

   /* Quando o mouse passa sobre o círculo */
   .circle_calorias:hover .icon_container_hidratacao {
    opacity: 0; /* Esconde a imagem */
  }

  /* Quando o mouse passa sobre o círculo */
  .circle_calorias:hover .icon_container_calorias {
    opacity: 0; /* Esconde a imagem */
  }
  
  .circle_calorias:hover .hover_text_calorias {
    opacity: 1; /* Mostra o texto */
  }
  
.custom_container:hover {
    transform: scale(1.01) !important; /* Aumenta 5% ao passar o mouse */
}

.container_hidratacao {
    background-color: #00b3ff37;
}

.titulo_container_hidratacao {
    color: #406dff;
}

.container_caloria {
    background-color: #ffb70037;
}

/* Peso Atual */
.container_peso {
    background-color: #014074a9; /* Azul claro */
    color: #ffffff; /* Texto branco */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* IMC Atual */
.container_imc {
    background-color: #9c17b47c; /* Roxo claro */
    color: #ffffff; /* Texto branco */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito hover para ambos */
.container_peso:hover,
.container_imc:hover {
    transform: scale(1.05); /* Leve aumento no hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}


.titulo_container_caloria {
    color: #FFB700;
}

.container_dieta {
    height: 18rem;
    background-color: #33ff4738;
}

.titulo_container_dieta {
    color: #009a0f;
}

.conteudo_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.objetivos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidratacaoLink {
    cursor: pointer;
}

.objetivos_container h2{
    width: 12.5rem;
}


.titulo_container {
    font-weight: 700;
    font-size: 2rem;
}

.icone_caloria {
    width: 80px;
}

.menu-container {
    display: flex; /* Usamos flexbox para alinhar os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Adiciona um pouco de espaço ao redor do contêiner */
}

.menu-item {
    background-color: white; /* Fundo branco */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 20px; /* Espaço interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
    transition: transform 0.3s; /* Transição suave ao passar o mouse */
}

.img_dieta {
    width: 80%;
}




/* Ajustes gerais para telas pequenas */
@media (max-width: 768px) {

    .descricao_meta_container {
        font-family: 'Roboto', sans-serif; /* Fonte moderna */
        font-size: 0.9rem; /* Tamanho legível */
        color: #333333; /* Texto escuro para maior contraste com fundo */
        background: #f4f4f4; /* Fundo neutro, cinza claro */
        border-radius: 12px; /* Bordas suaves */
        padding: 0.5em 0.5em; /* Espaçamento interno */
        text-align: center; /* Centralização do texto */
        font-weight: normal; /* Peso de fonte mais suave */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidade */
        width: fit-content; /* Adapta ao conteúdo */
        margin: 0 auto; /* Centralização na página */
        transition: all 0.3s ease; /* Transição suave para hover */
    }
    
    /* Efeito ao passar o mouse */
    .descricao_meta_container:hover {
        background: #e0e0e0; /* Fundo levemente mais escuro */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
    }

    .sidebar {
        width: 100px;
    }

    .content {
        margin-left: 100px;
    }

    .circle_hidratacao, 
    .circle_calorias {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }

    .style_logo {
        font-size: 1.5em;
    }

    .titulo_container {
        font-size: 2rem;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .menu_dieta {
        display: none;
    }

    .style_logo {
        font-size: 1.8em; /* Reduz o tamanho da logo */
        text-align: center;
    }

    .item-text {
        font-size: 0.8em;
    }

    .item__sidebar {
        flex-direction: row; /* Elementos lado a lado */
        align-items: center; 
        font-size: 16px; /* Texto menor */
    }

    .icon_sideBar {
        width: 1.2rem; /* Ícones menores */
    }

    .sidebar {
        width: 100px; /* Sidebar menor */
        transform: translateX(-100%); /* Mais escondida por padrão */
    }

    .sidebar.show {
        width: 40%; /* Sidebar ocupa maior parte da tela ao abrir */
    }

    .container__pricinpal {
        padding-top: 4em; /* Menor espaço superior */
    }

    .custom_container {
        height: 8em; /* Menor altura nos containers */
        flex-direction: row; /* Alinha em coluna */
        margin: 0.5rem; /* Margem menor */
    }

    .descricao_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; /* Ajuste para coluna */
        gap: 1em; /* Menor espaçamento entre os elementos */
    }

    .circle_hidratacao,
    .circle_calorias {
        width: 50px;
        height: 50px;
        font-size: 7px; /* Ajuste do tamanho do texto */
    }

    .garrafa_hidratacao, .icone_caloria {
        width: 15%;
    }

    .hover_text_hidratacao,
    .hover_text_calorias {
        font-size: 18px; /* Tamanho menor do texto */
    }

    .container {
        padding: 1em;
    }

    .conteudo_container {
        flex-direction: column; /* Alinhar verticalmente */
        gap: 1em; /* Espaçamento entre os itens */
        text-align: center;
    }

    .titulo_container {
        font-size: 1.2rem; /* Texto reduzido */
    }

    .menu-container {
        flex-direction: column; /* Itens empilhados */
        gap: 10px; /* Menor espaço entre os itens */
    }

    .menu-item {
        padding: 10px; /* Menor espaço interno */
    }

    .img_dieta {
        width: 100%; /* Imagem ajustada para preencher o container */
    }

    .sidebar .nav-link img {
        width: 1.2rem; /* Ícones menores na sidebar */
    }

    .content {
        margin-left: 0; /* Sem margem lateral */
        padding: 1em; /* Adiciona espaço interno */
    }

    .container_caloria, .container_hidratacao, .container_dieta {
        width: 100%; /* Containers ocupam toda a largura */
        margin: 0.5em 0;
    }

    .icone_caloria {
        width: 60px; /* Ícone menor */
    }

    .circle_hidratacao:hover,
    .circle_calorias:hover {
        transform: scale(1.1); /* Redução no efeito hover */
    }

    .graficoCalorias, .graficoHidratacao {
        display: none;
    }


}



